<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-WD2024.2.223</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Golbery
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfólio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Entrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <section class="col-6">
                    <img src="../static/img/perfilgolbery.png" alt="foto perfilgolbery" width="327" height="307">
                    <h1>Sobre mim</h1>
                    <p>
                        Sou estudante de Web Design e apaixonado por criar experiências visuais e interativas na web.
                        Gosto de buscar novas formas de aplicar as melhores práticas de design e desenvolvimento.
                    </p>
                </section>
                <section class="col-6">
                    skills
                </section>
            </div>
        </div>
    </main>
    <footer>
        <div class="card-footer text-body-primary bg-body-tertiary text-center">
            Desenvolvido por Golbery
        </div>
    </footer>
    <script src="../static/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>